<link href= 'stylesheets/skills.css' rel='stylesheet' type='text/css'>
<div class="wrapper">
  <a href="/"><h1 class="headings-h1">Saltwater</h1></a>

  <p class="intro-paragraph">The sea is calling, and I must go.</p>

  <div>
    <nav class="menu-nav-hz">
      <ul class="menu-hz">
        <li class="menu-hz-li">
          <a href="#sailor-knotter">Sailor</a>
        </li>

        <li class="menu-hz-li">
          <a href="#sailor-knotter">Knotter</a>
        </li>

        <li class="menu-hz-li">
          <a href="#astronomer-meteorologist">Astronomer</a>
        </li>

        <li class="menu-hz-li">
          <a href="#astronomer-meteorologist">Meteorologist</a>
        </li>

        <li class="menu-hz-li">
          <a href="#oceanographer-traveler">Oceanographer</a>
        </li>

        <li class="menu-hz-li">
          <a href="#oceanographer-traveler">Traveler</a>
        </li>
      </ul>
    </nav>
  </div>

  <section class="col2-skill-elements" id="sailor-knotter">
    <div class="col-2">
      <div>
        <br>
      </div>

      <div class="col2-skill-element-1">
        <span class="category-note">Skill</span> <a href="{{sailorDIY}}"><img class="skill-image" src="{{sailor.images.large}}"></a>

        <h3 class="skill-heading-large">{{sailor.title}}</h3>

        <p class="skill-desc">{{sailor.description}}</p>
      </div>

      <div class="col2-skill-element-2">
        <span class="category-note">Skill</span> <a href="{{knotterDIY}}"><img class="skill-image" src="{{knotter.images.large}}"></a>

        <h3 class="skill-heading-large">{{knotter.title}}</h3>

        <p class="skill-desc">{{knotter.description}}</p>
      </div>
    </div>
  </section>

  <section class="col2-skill-elements" id="astronomer-meteorologist">
    <div class="col-2">
      <div>
        <br>
      </div>

      <div class="col2-skill-element-1">
        <span class="category-note">Skill</span> <a href="{{astronomerDIY}}"><img class="skill-image" src="{{astronomer.images.large}}"></a>

        <h3 class="skill-heading-large">{{astronomer.title}}</h3>

        <p class="skill-desc">{{astronomer.description}}</p>
      </div>

      <div class="col2-skill-element-2">
        <span class="category-note">Skill</span> <a href="{{meteorologistDIY}}"><img class="skill-image" src="{{meteorologist.images.large}}"></a>

        <h3 class="skill-heading-large">{{meteorologist.title}}</h3>

        <p class="skill-desc">{{meteorologist.description}}</p>
      </div>
    </div>
  </section>

  <section class="col2-skill-elements" id="oceanographer-traveler">
    <div class="col-2">
      <div>
        <br>
      </div>

      <div class="col2-skill-element-1">
        <span class="category-note">Skill</span> <a href="{{oceanographerDIY}}"><img class="skill-image" src="{{oceanographer.images.large}}"></a>

        <h3 class="skill-heading-large">{{oceanographer.title}}</h3>

        <p class="skill-desc">{{oceanographer.description}}</p>
      </div>

      <div class="col2-skill-element-2">
        <span class="category-note">Skill</span> <a href="{{travelerDIY}}"><img class="skill-image" src="{{traveler.images.large}}"></a>

        <h3 class="skill-heading-large">{{traveler.title}}</h3>

        <p class="skill-desc">{{traveler.description}}</p>
      </div>
    </div>
  </section>
</div>